Repository bojanrajkovic/grounds: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --deny-warnings, tsc --noEmit --skipLibCheck, tsc --noEmit --skipLibCheck -p scripts/

fix(core): add branded types and encoder validation for input safety
  packages/core/CLAUDE.md
  packages/core/src/encoder.ts
  packages/core/src/errors.ts
  packages/core/src/integer-bounds.ts
  packages/core/src/types.ts
  packages/core/src/values.ts
  packages/core/tests/encoder.test.ts
  packages/core/tests/roundtrip.test.ts
  packages/core/tests/values.test.ts
  packages/stream/tests/schema-streams.test.ts
  packages/stream/tests/web-streams.test.ts
Due: oxlint --deny-warnings, tsc --noEmit --skipLibCheck

fix(core): add branded types and encoder validation for input safety (#27)
  packages/core/CLAUDE.md
  packages/core/src/encoder.ts
  packages/core/src/errors.ts
  packages/core/src/integer-bounds.ts
  packages/core/src/types.ts
  packages/core/src/values.ts
  packages/core/tests/encoder.test.ts
  packages/core/tests/roundtrip.test.ts
  packages/core/tests/values.test.ts
  packages/stream/tests/schema-streams.test.ts
  packages/stream/tests/web-streams.test.ts
Due: oxlint --deny-warnings, tsc --noEmit --skipLibCheck

docs: add comprehensive TSDoc and API reference documentation
  .commitlintrc.json
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  .lintstagedrc.json
  CLAUDE.md
  README.md
  docs/API_README.md
  docs/SUMMARY.md
  docs/api-reference.md
  docs/design-plans/2026-01-10-api-reference-documentation.md
  mdbook/book.toml
  package.json
  packages/core/src/decoder.ts
  packages/core/src/encoder.ts
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/values.ts
  packages/schema/CLAUDE.md
  packages/schema/src/codec.ts
  packages/schema/src/convert.ts
  packages/schema/src/enum.ts
  packages/schema/src/index.ts
  packages/schema/src/struct.ts
  packages/schema/src/types.ts
  packages/stream/CLAUDE.md
  packages/stream/src/decode.ts
  packages/stream/src/encode.ts
  packages/stream/src/index.ts
  packages/stream/src/web-streams.ts
  pnpm-lock.yaml
  typedoc.json
Due: oxlint --deny-warnings, tsc --noEmit --skipLibCheck

docs(core): add TSDoc for encoder error methods and fix README examples
  README.md
  packages/core/src/encoder.ts
  packages/core/src/errors.ts
  packages/core/src/values.ts
Due: oxlint --deny-warnings, tsc --noEmit --skipLibCheck

docs: add comprehensive API reference documentation (#26)
  .commitlintrc.json
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  .lintstagedrc.json
  CLAUDE.md
  README.md
  docs/API_README.md
  docs/SUMMARY.md
  docs/api-reference.md
  docs/design-plans/2026-01-10-api-reference-documentation.md
  mdbook/book.toml
  package.json
  packages/core/src/decoder.ts
  packages/core/src/encoder.ts
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/values.ts
  packages/schema/CLAUDE.md
  packages/schema/src/codec.ts
  packages/schema/src/convert.ts
  packages/schema/src/enum.ts
  packages/schema/src/index.ts
  packages/schema/src/struct.ts
  packages/schema/src/types.ts
  packages/stream/CLAUDE.md
  packages/stream/src/decode.ts
  packages/stream/src/encode.ts
  packages/stream/src/index.ts
  packages/stream/src/web-streams.ts
  pnpm-lock.yaml
  typedoc.json
Due: oxlint --deny-warnings, tsc --noEmit --skipLibCheck

fix(ci): add pull-requests permission to publish-release workflow
  .github/workflows/publish-switch.yml
Due: none

fix(ci): support direct-to-main workflow for changeset generation
  .github/workflows/publish-release.yml
  .lintstagedrc.json
  scripts/generate-changeset.ts
Due: oxlint --deny-warnings, tsc --noEmit --skipLibCheck -p scripts/

chore(ci): add release scope to commitlint config
  .commitlintrc.json
Due: none

chore(ci): exclude examples package from changesets versioning
  .changeset/config.json
Due: none

chore(release): add changeset for initial 1.0.0 stable release
  .changeset/initial-stable-release.md
Due: none

fix(ci): skip changeset generation for release commits
  .github/workflows/publish-release.yml
Due: none

docs(stream): add compressed streams example
  docs/SUMMARY.md
  docs/streaming/compressed-streams.md
  examples/stream/compressed-streams.ts
Due: none

docs(stream): add compressed streams example (#31)
  docs/SUMMARY.md
  docs/streaming/compressed-streams.md
  examples/stream/compressed-streams.ts
Due: none

docs(stream): use faker for realistic log data generation
  docs/streaming/compressed-streams.md
  examples/package.json
  examples/stream/compressed-streams.ts
  package.json
  pnpm-lock.yaml
Due: none

docs(stream): use faker for realistic log data generation (#32)
  docs/streaming/compressed-streams.md
  examples/package.json
  examples/stream/compressed-streams.ts
  package.json
  pnpm-lock.yaml
Due: none

test(core): add comprehensive nested composite roundtrip tests
  packages/core/tests/roundtrip.test.ts
Due: oxlint --deny-warnings, tsc --noEmit --skipLibCheck

test(core): add comprehensive nested composite roundtrip tests (#33)
  packages/core/tests/roundtrip.test.ts
Due: oxlint --deny-warnings, tsc --noEmit --skipLibCheck

ci: skip release PR when no version bumps needed
  .github/workflows/publish-release.yml
Due: none

ci: fix alpha publish branch pattern for username prefixes
  .github/workflows/publish-switch.yml
Due: none

ci: skip release PR when no version bumps needed (#35)
  .github/workflows/publish-release.yml
Due: none

chore: add Serena MCP onboarding memories
  .serena/.gitignore
  .serena/memories/package_architecture.md
  .serena/memories/project_overview.md
  .serena/memories/relish_wire_format.md
  .serena/memories/style_and_conventions.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
Due: none

chore: add Serena MCP onboarding memories (#36)
  .serena/.gitignore
  .serena/memories/package_architecture.md
  .serena/memories/project_overview.md
  .serena/memories/relish_wire_format.md
  .serena/memories/style_and_conventions.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
Due: none

ci: fix alpha publish branch pattern for username prefixes (#37)
  .github/workflows/publish-switch.yml
Due: none

chore: format renovate.json
  renovate.json
Due: none

chore(ci): configure Renovate for automerge and conventional commits
  .commitlintrc.json
  renovate.json
Due: none

fix(ci): support feat!: breaking change notation in changeset generation
  scripts/generate-changeset.ts
Due: oxlint --deny-warnings, tsc --noEmit --skipLibCheck -p scripts/

fix(release): exclude private test-utils package from changesets
  .changeset/config.json
Due: none

fix(release): exclude private test-utils package from changesets (#55)
  .changeset/config.json
Due: none

fix(ci): patch changesets to ignore devDependencies in dependency graph
  patches/@changesets__get-dependents-graph@2.1.3.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: format pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: none

fix(ci): patch changesets to ignore devDependencies in dependency graph (#57)
  patches/@changesets__get-dependents-graph@2.1.3.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(ci): exclude ignored packages from generated changesets
  scripts/generate-changeset.ts
Due: oxlint --deny-warnings, tsc --noEmit --skipLibCheck -p scripts/

fix(ci): exclude ignored packages from generated changesets (#58)
  scripts/generate-changeset.ts
Due: oxlint --deny-warnings, tsc --noEmit --skipLibCheck -p scripts/

ci: fix alpha workflow checkout and add breaking changes docs
  .github/workflows/publish-alpha.yml
  CLAUDE.md
Due: none

ci: fix alpha workflow checkout and add breaking changes docs (#60)
  .github/workflows/publish-alpha.yml
  CLAUDE.md
Due: none

ci: add pull-requests and statuses permissions to alpha publish
  .github/workflows/publish-switch.yml
Due: none

ci: add pull-requests and statuses permissions to alpha workflow
  .github/workflows/publish-alpha.yml
Due: none

ci: add pending commit status at workflow start
  .github/workflows/publish-alpha.yml
Due: none

Path conditions:
  oxlint --deny-warnings: (any of: packages/**/*.{ts,tsx}) or (any of: scripts/**/*.{ts,tsx})
  tsc --noEmit --skipLibCheck: any of: packages/**/*.{ts,tsx}
  tsc --noEmit --skipLibCheck -p scripts/: any of: scripts/**/*.{ts,tsx}
